form input {
  border: 3px solid black;
  height: 40px;
}

.form-button {
  width: 80px;
  height: 30px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 2px 3px black;
  font-weight: 500;
}

.form-button:hover {
  cursor: pointer;
  background-color: rgba(228, 99, 235, 0.554);
  transition: all ease-in-out 0.2s;
}

footer {
  display: flex;
  border: 3px solid black;
  width: calc(100% - 20px);
  margin: 10px;
  padding: 10px;
  align-items: center;
}

#alert {
  position: fixed;
  width: 70%;
  margin: auto;
  margin-top: 15%;
  height: 50vh;
  padding: 50px 10px;
  text-align: center;
  box-shadow: 2px 3px 2px #b8b8b8c7;
  border: 1px solid #b8b8b8c7;
}

.hide-alert {
  display: none;
}

input ::-webkit-input-placeholder {
  color: white;
}

input ::-moz-placeholder {
  color: white;
}

input :-ms-input-placeholder {
  color: white;
}

input ::-ms-input-placeholder {
  color: white;
}

input ::placeholder {
  color: white;
}
